input {
 font-family: "Cousine";
 background: var(--t-background);
 color: var(--t-foreground);
 border: none;
 border-bottom: 2px solid var(--t-foreground);
 font-size: 1em;
 text-align: center;
}

.typeGood, .typeBad, .typeMissed {
 background: var(--t-background);
}
.typeGood {
 color: var(--t-green);
}
.typeBad {
 color: var(--t-red);
}
.typeMissed {
 color: var(--t-blue);
}
