* {
    border: none;
    border-radius: 0;
    font-family: Cousine;
    font-size: 19px;
    min-height: 0;
}

window#waybar {
    background-color: #161821;
    color: #c6c8d1;
}

#custom-ltfin {
    font-family: Cousine Nerd Font Mono;
    font-size: 20px;
    background-color: #161821;
    color: #e27878;
}

#custom-rt1 {
    font-family: Cousine Nerd Font Mono;
    font-size: 20px;
    background-color: #84a0c6;
    color: #e27878;
}

#custom-rt2 {
    font-family: Cousine Nerd Font Mono;
    font-size: 20px;
    background-color: #a093c7;
    color: #84a0c6;
}

#custom-rt3 {
    font-family: Cousine Nerd Font Mono;
    font-size: 20px;
    background-color: #161821;
    color: #a093c7;
}

#custom-rtfin {
    font-family: Cousine Nerd Font Mono;
    font-size: 20px;
    background-color: #161821;
    color: #c6c8d1;
}

#custom-music {
    background-color: #161821;
    color: #c6c8d1;
}

#custom-internet {
    background-color: #a093c7;
}

#custom-vpn {
    background-color: #84a0c6;
}

#custom-clock {
    background-color: #e27878;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
