:root {
	/* Special */
	--t-background: #161821;
	--t-foreground: #c6c8d1;

	/* Colors */
	--t-black: #1e2132;
	--t-red: #e27878;
	--t-green: #b4be82;
	--t-yellow: #e2a478;
	--t-blue: #84a0c6;
	--t-magenta: #a093c7;
	--t-cyan: #89b8c2;
	--t-white: #c6c8d1;
	--t-black-l: #6b7089;
	--t-red-l: #e98989;
	--t-green-l: #c0ca8e;
	--t-yellow-l: #e9b189;
	--t-blue-l: #91acd1;
	--t-magenta-l: #ada0d3;
	--t-cyan-l: #95c4ce;
	--t-white-l: #d2d4de;

	/* Anki */
	--text-fg: var(--t-foreground);
	--new-count: var(--t-blue);
	--learn-count: var(--t-red);
	--review-count: var(--t-green);
	--zero-count: var(--t-black-l);
}

body {
	background-color: var(--t-background);
	font-family: Cousine;
	color: var(--t-foreground);
}

a:link {
	color: var(--t-blue);
}
a:visited {
	color: var(--t-magenta);
}
a:hover {
	color: var(--t-blue-l);
}
a:active {
	color: var(--t-cyan-l);
}

button {
	color: var(--t-foreground);
	background: var(--t-background);
	border-color: var(--t-blue);
	border-radius: 0%;
	font-family: Cousine;
	outline: unset;
}

button:hover {
	background: var(--t-blue);
}

button:active {
	background: var(--t-background);
}
